In [ ]:
# 1.Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs Decide how many number of buses required
No_of_seats = int(input('seats'))
No_of_people = int(input('people'))
no_of_buses_needed = No_of_people // No_of_seats
print(no_of_buses_needed)

# take temperature from the user and convert foreign heat -> Celsius.
foriegnheat=float(97.5)
celsius= (foriegnheat-32)*5/9
print(f"Temperature in Celsius: {celsius:.2f}°C")

# Take temperature from the user and convert Celsius → foreign heat
celusis = float(37.59)
foriegnheat = (celsius * 9 / 5) + 32
print(f"temperature in foriegnheat: {foriegnheat:.2f}°F")

# take four number from the user (variables name it as x1,x2,x3,x4)  Do the below operations (x1+x2)**2, (x3+x4)**3
# variance
# standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
# Regression
# 	y=mx+b
#          m=1.23
 #         b=0.045
 #          find out y
  #        y=m*(x1+x2+x3+x4)+b
   #Find the average of four numbers Find the sum of four numbers
x1 = float(input("x1 :"))
x2 = float(input("x2 :"))
x3 = float(input("x3 :"))
x4 = float(input("x4 :"))
opeartion = (x1 + x2)**2
operation = (x3 + x4)**2
numbers = [x1,x2,x3,x4]
mean = sum (numbers) / len (numbers)
variance = sum((x-mean) ** 2

In [ ]:
# Take the distance in km Show that in cm, meters, in milli meters, cents, feets, yards
meters = km * 1000
centimeters = km * 100000
millimeters = km * 1000000

# take temperature from the user and convert foreign heat -> Celsius.
foriegnheat=float(input("enter value in foriegnheat:"))
celsius= (foriegnheat-32)*5/9
print(f"Temperature in Celsius: {celsius:}°C")

In [5]:
celusis = float(input("enter a value celusis:"))
foriegnheat = (celsius * 9 / 5) + 32
print(f"temperature in foriegnheat: {foriegnheat:.2f}°F")

enter a value celusis: 38.5

temperature in foriegnheat: 100.70°F

# Take the distance in km Show that in cm, meters, in milli meters, cents, feets, yards
kilometers = int(input("Enter the value in Kms:"))
meters = kilometers * 1000
centimeters = kilometers * 100000
millimeters = kilometers * 1000000
feet = kilometers * 3280.84  # feet
yards = kilometers * 1093.61  # yards
cents = kilometers * 247.105  # cents (land area)
print("meters",meters)
print("centimeters",centimeters)
print("millimeters",millimeters)
print("feet",feet)
print("yards",yards)
print("cents",cents)

# Take the size of your hard disk in GB Show that in MB, KB, TB, PB
GB = int(input("enter a gb value"))
MB = GB*1024
KB = GB*1024*1024
TB=GB/1024
PB=GB/(1024*1024)
print(MB)
print(KB)
print(TB)
print(PB)

# .  Take name, age, height from the user and print like below The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
#Note: make sure that no space between : and a value and should be space after “COMA”
Name = str(input("Enter a name:"))
age = int(input("enter your age:"))
height = float(input("enter your height:"))
print("Name:", Name + "age:",age + "height:",height),
print("age:",age),
print("height:",height)

# .  Take name, age, height from the user and print like below The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
#Note: make sure that no space between : and a value and should be space after “COMA”
Name = str(input("Enter a name:"))
age = int(input("enter your age:"))
height = float(input("enter your height:"))
print("Name:", Name , "age:",age , "height:",height)

# .  Take name, age, height from the user and print like below The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
#Note: make sure that no space between : and a value and should be space after “COMA”
Name = str(input("Enter a name:"))
age = int(input("enter your age:"))
height = float(input("enter your height:"))
print(f"Name: ",Name,"," ,"age:",age,",","height:",height)

# .  Take name, age, height from the user and print like below The details of the person: Name:name of the person, Age:age of the person, Height:height of the person
#Note: make sure that no space between : and a value and should be space after “COMA”
Name = str(input("Enter a name:"))
age = int(input("enter your age:"))
height = float(input("enter your height:"))
print(f"Name:{Name}, age:{age}, height:{height}")

# BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person
weight = float(input("enter weight:"))
height = float(input("enter height:"))
bmi = weight / (height ** 2)
print("bmi",bmi)

# BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person
weight = float(input("enter weight:"))
height = float(input("enter height:"))
bmi = weight / (height ** 2)
print(f"bmi:{bmi:.2f}")

# # name="Jayaram"
# age=1.6
# height=3.5356234
# weight=10.343856783
# By using above inputs print the output
# Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344  Note: Use format specifiers(%s, %d, %f)
Name = str(input("Enter a name:"))
age = float(input("enter your age:"))
height = float(input("enter your height:"))
weight = float(input("enter your weight:"))
print("Name:%s, age:%f, height:%f, weight:%f"%(Name,age,height,weight))

# Take three upper case letters from the user convert in to small case.
user =input("Enter a name in uppercase:")
print(user, type(user))
print(user.lower())
print(user.swapcase())

# take base and exponent value from the user and print like in mathematics:
#   example: base=2, exponent=3: 23
# Use: 2\u00b3
base = int(input("enter a base value:"))
exponent = int(input("enter a exponent value:"))
print(f"{base}\u00b{exponent}")

# Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.
groceries = [10,57,45,38]
print("max:",max(groceries))
print("min:",min(groceries))
groceries_sum=sum(groceries)
print("sum:",groceries_sum,)
count_groceries=len(groceries)
print("count:",count_groceries,)
avg = groceries_sum / count_groceries
print("avg:",avg)

# take four number from the user (variables name it as x1,x2,x3,x4)
#  Do the below operations
#  (x1+x2)**2, (x3+x4)**3
# variance
# standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
# Regression
# 	y=mx+b
#           m=1.23

#           b=0.045
#           find out y
#           y=m*(x1+x2+x3+x4)+b
#  Find the average of four numbers
# Find the sum of four numbers
x = input("enter a value with Comma separate:")
# print(dir(x))
ls = x.split(",")
print(ls)
int_ls = list(map(int,ls))
print(int_list)
m= 1.23
b = 0.045
# y = mx+c
y = m*(sum(int_list))+b
print(y)

x1 = int_ls[0]
x2 = int_ls[1]
x3 = int_ls[2]
x4 = int_ls[3]
print((x1+x2)**2)
print((x3+x4)**3)


import math
varience = 1
# print(dir(math))9
standard_dev = math.sqrt(varience)
print(standard_dev)