#### 1.Take the input from the user for(Total number of people,Number of seats for bus. Based on two inputs Decide how many number of buses required

In [ ]:
No_of_seats = int(input('seats'))
No_of_people = int(input('people'))
no_of_buses_needed = No_of_people // No_of_seats
print(no_of_buses_needed)

#### 2. take temperature from the user and convert foreign heat -> Celsius.

In [ ]:
foriegnheat=float(97.5)
celsius= (foriegnheat-32)*5/9
print(f"Temperature in Celsius: {celsius:.2f}°C")

#### 3. Take temperature from the user and convert Celsius → foreign heat

In [ ]:
celusis = float(37.59)
foriegnheat = (celsius * 9 / 5) + 32
print(f"temperature in foriegnheat: {foriegnheat:.2f}°F")

4 take four number from the user (variables name it as x1,x2,x3,x4)  Do the below operations (x1+x2)**2, (x3+x4)**3
variance
 standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
 Regression
 	y=mx+b
          m=1.23
         b=0.045
          find out y
        y=m*(x1+x2+x3+x4)+b
   Find the average of four numbers Find the sum of four numbers

In [ ]:
import math 
x1 = int(input("Enter the value of x1: "))
x2 = int(input("Enter the value of x2: "))
x3 = int(input("Enter the value of x3: "))
x4 = int(input("Enter the value of x4: "))

# Calculating the expressions
result1 = (x1 + x2) ** 2
result2 = (x3 + x4) ** 3

# Printing the results
print("The result of (x1 + x2)^2 is:", result1)
print("The result of (x3 + x4)^3 is:", result2)

### mean value 
mean = (x1 + x2+ x3 + x4 )//4 
print(mean)
## Squared Differences
numbers = (x1 , x2, x3 , x4 )
sum_sqd_numbers = 0
sqd_numbers = []
for i in numbers:
    sqd = (i - mean) ** 2
    sum_sqd_numbers += sqd
    sqd_numbers.append(sqd)
variance = sum_sqd_numbers/(4-1)
print(" variance : ",variance)    
# standard deviationRegression
std_dev = math.sqrt(variance)
#print(std_dev)
# Regression

## y=mx+b
m=1.23
b=0.045
y  =  m * (x1+x2+x3+x4) +b
print("regression : ", y)
print("standard deviationRegression : ",std_dev)
print("average of four numbers : ",mean)
print("sum of 4 numbers : ",(x1+x2+x3+x4))

#### 5.Take the distance in km Show that in cm, meters, in milli meters, cents, feets, yards

In [ ]:
kilometers = int(input("Enter the value in Kms:"))
meters = kilometers * 1000
centimeters = kilometers * 100000
millimeters = kilometers * 1000000
feet = kilometers * 3280.84  # feet
yards = kilometers * 1093.61  # yards
cents = kilometers * 247.105  # cents (land area)
print("meters",meters)
print("centimeters",centimeters)
print("millimeters",millimeters)
print("feet",feet)
print("yards",yards)
print("cents",cents)

#### 6.Take the size of your hard disk in GB Show that in MB, KB, TB, PB

In [ ]:
GB = int(input("enter a gb value"))
MB = GB*1024
KB = GB*1024*1024
TB=GB/1024
PB=GB/(1024*1024)
print(MB)
print(KB)
print(TB)
print(PB)

#### 7.  Take name, age, height from the user and print like below The details of the person: Name:name of the person, Age:age of the person, Height:height of the person

In [ ]:
#Note: make sure that no space between : and a value and should be space after “COMA”
name = "Jayaram"
age = 1.6
height = 3.5356234
weight = 10.343856783

print("Name: %s, Age: %.1f, Height: %.2f, Weight: %.3f" % (name, age, height, weight))

#### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person

In [ ]:
weight = float(input("enter weight:"))
height = float(input("enter height:"))
bmi = weight / (height ** 2)
print("bmi",bmi)

#### 9. name="Jayaram"
age=1.6
height=3.5356234
weight=10.343856783
By using above inputs print the output

In [ ]:
Name = str(input("Enter a name:"))
age = float(input("enter your age:"))
height = float(input("enter your height:"))
weight = float(input("enter your weight:"))
print("Name:%s, age:%f, height:%f, weight:%f"%(Name,age,height,weight))

#### 10. Take three upper case letters from the user convert in to small case.

In [ ]:
letter1 = input("Enter the first uppercase letter: ")
letter2 = input("Enter the second uppercase letter: ")
letter3 = input("Enter the third uppercase letter: ")
lowercase1 = chr(ord(letter1) + 32)
lowercase2 = chr(ord(letter2) + 32)
lowercase3 = chr(ord(letter3) + 32)


print(f"Lowercase letters: {lowercase1}, {lowercase2}, {lowercase3}")

#### 11. take base and exponent value from the user and print like in mathematics:
####   example: base=2, exponent=3: 23
#### Use: 2\u00b3

In [ ]:

base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))

# Convert exponent to superscript using Unicode
superscripts = {
    '0': '\u2070', '1': '\u00b9', '2': '\u00b2', '3': '\u00b3', 
    '4': '\u2074', '5': '\u2075', '6': '\u2076', '7': '\u2077', 
    '8': '\u2078', '9': '\u2079'
}
exponent_str = ''.join(superscripts[digit] for digit in str(exponent))

# Display the result in the mathematical format
print(f"{base}{exponent_str}")

#### 12.Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [ ]:
groceries = [10,57,45,38]
print("max:",max(groceries))
print("min:",min(groceries))
groceries_sum=sum(groceries)
print("sum:",groceries_sum,)
count_groceries=len(groceries)
print("count:",count_groceries,)
avg = groceries_sum / count_groceries
print("avg:",avg)